header {
	display: inline-flex;
	min-height: 12vh;
	padding: 10px 5%;
	width: 100%;
}

h1 {
	align-items: center;
	color: #0a3871;
	display: flex;
}

h1 span {
	font-size: 2rem;
	font-weight: 600;
	margin-left: 4px;
}

h1 img {
	height: 45px;
	margin-right: 6px;
	width: 32px;
}
