main {
	display: inline-flex;
	min-height: 88vh;
	padding: 10px 5% 32px;
	width: 100%;
}

.container {
	display: grid;
	gap: 20px;
	grid-template-areas: "field-text-area final-text-area";
	grid-template-columns: minmax(max-content, auto) minmax(300px, 450px);
	width: 100%;
}

.field-text-area,
.final-text-area {
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	justify-content: space-between;
	padding: 20px;
}

.field-text-area {
	background: #e9ecf8;
	grid-area: field-text-area;
}

/* Final text area */
.final-text-area {
	background: #ffffff;
	grid-area: final-text-area;
}

/* textarea */
textarea {
	background: none;
	border: none;
	font-size: 18px;
	flex: 1 1 auto;
	min-height: 100px;
	margin-bottom: 15px;
	resize: vertical;
	padding: 5px;
	width: 100%;
}

textarea:focus {
	outline: none;
}

textarea::placeholder {
	color: #343a40;
	font-size: 20px;
}

/* Designing for scroll-bar */
textarea::-webkit-scrollbar {
	width: 10px;
}

/* Track */
textarea::-webkit-scrollbar-track {
	background: #ced4da;
	border-radius: 5px;
}

/* Handle */
textarea::-webkit-scrollbar-thumb {
	background: #343a40;
	border-radius: 5px;
}

/* Handle on hover */
textarea::-webkit-scrollbar-thumb:hover {
	background: #495057;
}

/* Button */
.box-button {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	height: auto;
	justify-content: space-around;
	width: 100%;
}

.box-button button {
	border: 2px solid #0a3871;
	border-radius: 20px;
	font-size: 20px;
	font-weight: 500;
	flex-grow: 1;
	height: 40px;
	padding: 0 10px;
}

button#encrypt {
	background: #0a3871;
	color: #ffffff;
}

button#decrypt,
button#copyText {
	background: #ffffff;
	color: #0a3871;
}

/* With and without text */
.without-text,
.with-text {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	text-align: center;
}

/* Without text */
.without-text {
	color: #343a40;
	font-size: 24px;
	font-weight: 700;
}

/* Media queries */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.container {
		grid-template-areas: "field-text-area" "final-text-area";
		grid-template-columns: 100%;
	}

	.without-text img {
		display: none;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.container {
		grid-template-areas: "field-text-area" "final-text-area";
		grid-template-columns: 100%;
	}

	.without-text img {
		display: none;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.container {
		grid-template-areas: "field-text-area" "final-text-area";
		grid-template-columns: 100%;
	}

	.without-text img {
		display: none;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
