main {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	min-height: 88vh;
	padding: 10px 5% 32px;
	width: 100%;
}

.container {
	display: -ms-grid;
	display: grid;
	gap: 20px;
	grid-template-areas: "field-text-area final-text-area";
	-ms-grid-columns: minmax(320px, auto) 20px minmax(220px, 450px);
	grid-template-columns: minmax(320px, auto) minmax(220px, 450px);
	width: 100%;
}

.field-text-area,
.final-text-area {
	border-radius: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100%;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 20px;
}

.field-text-area {
	grid-row: 1;
	-ms-grid-row: 1;
	grid-column: 1;
	-ms-grid-column: 1;
	background: #e9ecf8;
	grid-area: field-text-area;
}

/* Final text area */
.final-text-area {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
	background: #ffffff;
	grid-area: final-text-area;
}

/* textarea */
textarea {
	background: none;
	border: none;
	font-size: 18px;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	min-height: auto;
	margin-bottom: 15px;
	resize: vertical;
	padding: 5px;
	width: 100%;
}

textarea:focus {
	outline: 1px solid gray;
}

textarea::-webkit-input-placeholder {
	color: #343a40;
	font-size: 20px;
}

textarea::-moz-placeholder {
	color: #343a40;
	font-size: 20px;
}

textarea:-ms-input-placeholder {
	color: #343a40;
	font-size: 20px;
}

textarea::-ms-input-placeholder {
	color: #343a40;
	font-size: 20px;
}

textarea::placeholder {
	color: #343a40;
	font-size: 20px;
}

textarea::-webkit-scrollbar {
	width: 10px;
}

textarea::-webkit-scrollbar-track {
	background: #ced4da;
	border-radius: 5px;
}

textarea::-webkit-scrollbar-thumb {
	background: #343a40;
	border-radius: 5px;
}

textarea::-webkit-scrollbar-thumb:hover {
	background: #495057;
}

/* Button */
.box-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 8px;
	height: auto;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	width: 100%;
}

.box-button button {
	border: 2px solid #0a3871;
	border-radius: 20px;
	font-size: 20px;
	font-weight: 500;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	height: 40px;
	padding: 0 10px;
}

button#encrypt,
button#clear-text {
	background: #0a3871;
	color: #ffffff;
}

button#decrypt,
button#copy-text {
	background: #ffffff;
	color: #0a3871;
}

button#encrypt:hover,
button#clear-text:hover {
	-webkit-filter: brightness(1.2);
	filter: brightness(1.2);
}

button#decrypt:hover,
button#copy-text:hover {
	background: #808386;
}

/* With and without text */
.without-text,
.with-text {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
}

/* Without text */
.without-text {
	color: #343a40;
	font-size: 24px;
	font-weight: 700;
}

/* Media queries */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.container {
		grid-template-areas: "field-text-area" "final-text-area";
		grid-template-columns: 100%;
	}

	.without-text img {
		display: none;
	}
}

/* Media queries */
/* Extra small devices (portrait phones, less than 576px) */
/* Small devices (landscape phones, 576px and 767.98px) */
/* Medium devices (tablets, 768px and 991.98px) */
@media (max-width: 991.98px) {
	.container {
		grid-template-areas: "field-text-area" "final-text-area";
		-ms-grid-columns: 100%;
		grid-template-columns: 100%;
	}

	.without-text img {
		display: none;
	}
	.field-text-area {
		grid-row: 1;
		-ms-grid-row: 1;
		grid-column: 1;
		-ms-grid-column: 1;
	}
	.final-text-area {
		grid-row: 2;
		-ms-grid-row: 2;
		grid-column: 1;
		-ms-grid-column: 1;
	}
}
