@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap");

* {
	box-sizing: 0;
	font-family: "Inter", sans-serif;
	padding: 0;
	margin: 0;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
}

body {
	background: #f3f5fc;
}
